#tooltip_container
{
    position: absolute;
}
#tooltip_triangle
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    z-index: 502;
    margin-left: 10px;
}
#tooltip_text
{
    max-width: 300px;
    padding: 5px;
    color:#ffffff;
    background:#333;
    z-index: 501;
}

.frm-input{
    width: 200px;
    margin: 5px;
}